

.navbar-header{
	img {
	    max-width: 20%;
        margin-bottom: 20px;
	}
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: red!important;
    background-color: transparent!important;
    font-weight: bold!important;
}

.navbar-default {
    background-color: white;
    border-color: #e7e7e7;
    font-weight: bold;
   
}

.navbar-nav{
    text-transform: uppercase;
    font-family: "Titillium Web", sans-serif;
    font-size: 12px;
    margin-bottom: 10px;
     li {
     	border-right: 1px solid black;
     }
     li:last-child {
        border-right: none;
    }

}

.fa{
	color:black;
	&:hover{
		text-decoration:none;
	}

}
.fa-inverse{
        color:white;
    }


/*FOOTER*/

#myFooter{
	background: black;
	color:white;
	p{
		margin:20px 0 20px 0;
	}
}
