#hero{
	background:url(../../images/Hero-img.JPG);
    background-size: cover; 
	overflow: hidden;
	height: 400px;
	position: relative;

	h1{
		color:white;
		margin:150px 0 200px 0;
	}
	.particles {
		position: absolute;
		display: block;
	}
}


#product{
	h1{	
		margin-top: $margin;
	}
	#services{
		margin-bottom: $margin;
		img{
			margin-top: $margin;
			margin-bottom: $margin/3;
		}
	}
}



#projects{
	background:url(../../images/Bg/FeaturedProject_bg.jpg);
	background-attachment: fixed; 
	background-repeat: no-repeat;
	background-size: cover; 
	img{
		margin-top: $margin/2;
	}
	h1{	
		margin-top: $margin;
	}

	h4{
		margin-top: -25px;
    	margin-left: 10px;
    	position:absolute;
	}
	a {
	  color: black;
	  &:hover {
	    color: red;
	    text-decoration: none;
	  }
	}
}
.wrapper{
		margin-bottom: $margin;
	}

#clients{
	h1{	
		margin-top: $margin;
		margin-bottom: $margin/2;
	}
	.client{
		margin-top:$margin/2;
	}
}

#clients-page{
	h1{
		margin-top: $margin;
		margin-bottom: $margin/2;
	}
	.client{
		margin-top:$margin/2;
	}
}



#contact{
	background:url(../../images/Bg/FeaturedProject_bg.jpg);
	background-attachment: fixed; 
	background-repeat: no-repeat;
	background-size: cover; 
	
	.form-control {
		border-radius: 0;
	}
	.btn-danger{
		border-radius: 0;
		border:none;
	}
	div.wpcf7-validation-errors, .wpcf7-response-output {
	    border: 2px solid black;

	}
	div.wpcf7{
		margin-bottom: $margin;
	}

}
#contact-page{
	background:url(../../images/Bg/FeaturedProject_bg.jpg);
	background-repeat: no-repeat;
	background-size: cover; 
	h1{
		margin-top: $margin;
		margin-bottom: $margin/2;
	}
	.form-control {
		border-radius: 0;
	}
	.btn-danger{
		border-radius: 0;
		border:none;
	}
	div.wpcf7-validation-errors, .wpcf7-response-output {
	    border: 2px solid black;

	}
	div.wpcf7{
		margin-bottom: $margin;
	}
}

.products {
    height: 25px;
    margin-bottom: 380px!important;
}

.animate {
    height: 200px;
    text-align: center;
}
